<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Merged only into the debug build (Gradle already does the merge automatically per
         source set) — see network_security_config_debug.xml for the reason why. -->
    <application android:networkSecurityConfig="@xml/network_security_config_debug" />

</manifest>
